body{
    background-color: #C4DAE6;
}

.dropdown-menu{
    background-color: #C2B1D6;
}

.banner-container{
    position: relative;
    flex-wrap: wrap;
}

.banner-text{
    padding: 0px 0px 0px;
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 5px 5px 10px #000;
    background-color: #C2B1D6;
    top: 40%;
    left: 37%;
}

.cards-container{
    padding: 40px;
    justify-content: center;
    gap: 20px;
    background-color: #92C8E0;
    margin-top: 20px;
}

.card {
	border-radius: 10px;
    flex-wrap: wrap;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    max-width: 320px;
}

.card:hover{
    transform: scale(1.1);
}

.card .textos{
    color: aliceblue;
    text-shadow: 2px 2px 5px #000;
}

